// Red, Purple, Blue, Blue Bold, Green, Green Bold, Yellow,Orange, Orange Bold 1->10, 
// White, Gray, Silver, Black 1->5
// Từ nhạt tới đậm

$red-1: #FDEDEC;
$red-2: #FADBD8;
$red-3: #F5B7B1;
$red-4: #F1948A;
$red-5: #EC7063;
$red-6: #E74C3C;
$red-7: #CB4335;
$red-8: #B03A2E;
$red-9: #B03A2E;
$red-10: #78281F;
$red-focus: #e74c3c59;

$purple-1: #F4ECF7;
$purple-2: #E8DAEF;
$purple-3: #D2B4DE;
$purple-4: #BB8FCE;
$purple-5: #A569BD;
$purple-6: #8E44AD;
$purple-7: #7D3C98;
$purple-8: #6C3483;
$purple-9: #5B2C6F;
$purple-10: #4A235A;
$purple-focus: #8E44AD59;

$blue-1: #EBF5FB;
$blue-2: #D6EAF8;
$blue-3: #AED6F1;
$blue-4: #85C1E9;
$blue-5: #5DADE2;
$blue-6: #3498DB;
$blue-7: #2E86C1;
$blue-8: #2874A6;
$blue-9: #21618C;
$blue-10: #1B4F72;
$blue-focus: #3498DB59;

$blue-bold-1: #EBEDEF;
$blue-bold-2: #D6DBDF;
$blue-bold-3: #AEB6BF;
$blue-bold-4: #85929E;
$blue-bold-5: #5D6D7E;
$blue-bold-6: #34495E;
$blue-bold-7: #2E4053;
$blue-bold-8: #283747;
$blue-bold-9: #212F3C;
$blue-bold-10: #1B2631;
$blue-bold-focus: #34495e59;

$green-1: #EAFAF1;
$green-2: #D5F5E3;
$green-3: #ABEBC6;
$green-4: #82E0AA;
$green-5: #58D68D;
$green-6: #2ECC71;
$green-7: #28B463;
$green-8: #239B56;
$green-9: #1D8348;
$green-10: #186A3B;
$green-focus: #2ecc7159;

$green-bold-1: #E8F6F3;
$green-bold-2: #D0ECE7;
$green-bold-3: #A2D9CE;
$green-bold-4: #73C6B6;
$green-bold-5: #45B39D;
$green-bold-6: #16A085;
$green-bold-7: #138D75;
$green-bold-8: #117A65;
$green-bold-9: #0E6655;
$green-bold-10: #0B5345;
$green-bold-focus: #16a08559;

$yellow-1: #FEF9E7;
$yellow-2: #FCF3CF;
$yellow-3: #F9E79F;
$yellow-4: #F7DC6F;
$yellow-5: #F4D03F;
$yellow-6: #F1C40F;
$yellow-7: #D4AC0D;
$yellow-8: #B7950B;
$yellow-9: #9A7D0A;
$yellow-10: #7D6608;
$yellow-focus: #f1c40f59;

$orange-1: #FDF2E9;
$orange-2: #FAE5D3;
$orange-3: #F5CBA7;
$orange-4: #F0B27A;
$orange-5: #EB984E;
$orange-6: #E67E22;
$orange-7: #CA6F1E;
$orange-8: #AF601A;
$orange-9: #935116;
$orange-10: #784212;
$orange-focus: #e67e2259;

$orange-bold-1: #FBEEE6;
$orange-bold-2: #F6DDCC;
$orange-bold-3: #EDBB99;
$orange-bold-4: #E59866;
$orange-bold-5: #DC7633;
$orange-bold-6: #D35400;
$orange-bold-7: #BA4A00;
$orange-bold-8: #A04000;
$orange-bold-9: #873600;
$orange-bold-10: #6E2C00;
$orange-bold-focus: #d3540059;

$white-1: #FDFEFE;
$white-2: #F8F9F9;
$white-3: #E5E7E9;
$white-4: #F2F4F4;
$white-5: #ECF0F1;

$gray-1: #d2d2d2;
$gray-2: #A6ACAF;
$gray-3: #909497;
$gray-4: #797D7F;
$gray-5: #626567;
$gray-focus: #d2d2d27d;

$silver-1: #ECF0F1;
$silver-2: #D0D3D4;
$silver-3: #B3B6B7;
$silver-4: #979A9A;
$silver-5: #7B7D7D;
$silver-focus: #ECF0F17d;

$black-1: #565656;
$black-2: #464646;
$black-3: #363636;
$black-4: #262626;
$black-5: #161616;
$black-focus: #56565659;