@mixin btnColor($color,$bgColor,$bdOutline,$colorHover,$bgColorHover,$bdColor,$boxShadow) {
	color: $color;
	background: $bgColor;
	border-color: $bdOutline;
	&:hover {
		color: $colorHover;
		background: $bgColorHover;
	}
	&:focus {
		border-color: $bdColor;
		box-shadow: 0 0 0 0.2rem $boxShadow;
	}
}
@mixin inputFocus($bdColor,$boxShadow) {
	&:focus {
		border-color: $bdColor;
		box-shadow: 0 0 0 0.2rem $boxShadow;
	}
}