body {
	margin: 0;
	padding: 0;
	font-size: 1rem;
	color: $black-1;
	font-weight: 400;
	line-height: 1.5;
	text-align: left;
	background: #fff;
	font-family: $font-sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	margin-bottom: .5rem;
}
p {
	margin: 0 0 .5rem 0;
}
.bd-radius {
	border-radius: .25rem!important;
}